<div class="main-wrapper mx-auto mt-4">
  <div class="main-section mt-3 d-flex justify-content-between">
    <div class="source-review-inside w-100 flex flex-column">
      <section class="item-detail flex gap-3 bg-bg3 rounded-xl p-3">
        <div class="item-detail_content-wrapper flex gap-3">
          <div class="item-detail_img rounded-lg">
            <img
              src="../../../../assets/imgs/source-review-img.png"
              class="rounded-lg"
              alt=""
            />
          </div>
          <div class="item-detail_content">
            <h5 class="fs-6 m-0">
              {{ steroid.name }} {{ steroid.commonName.name }} by
              {{ steroid.manufacturer.name }}
            </h5>
            <div class="review-stars">
              <img
                src="../../../../assets/icons/icon-review-star-empty.svg"
                alt=""
              />
              <img src="../../../../assets/icons/icon-review-star.svg" alt="" />
              <img src="../../../../assets/icons/icon-review-star.svg" alt="" />
              <img src="../../../../assets/icons/icon-review-star.svg" alt="" />
              <img src="../../../../assets/icons/icon-review-star.svg" alt="" />
            </div>
            <div
              class="item-detail_table-wrapper mt-2 d-flex align-items-end justify-content-between gap-4"
            >
              <div class="w-100 item-detail_table bg-white rounded-lg">
                <div
                  class="item-detail_table-head d-flex align-items-center gap-2 justify-content-between"
                >
                  <span class="fs-9 fw-semibold">Category</span>
                  <span class="fs-9 fw-semibold">Count</span>
                  <span class="fs-9 fw-semibold">Average</span>
                </div>
                <div class="item-detail_table-body">
                  @for(point of steroid.points; track point; let idx = $index) {
                  <div
                    class="item-detail_table-body_item d-flex align-items-center gap-2 justify-content-between"
                  >
                    <span class="fs-10 fw-semibold text-uppercase">{{
                      point.category
                    }}</span>
                    <span class="fs-10 fw-semibold text-uppercase">{{
                      point.reviews
                    }}</span>
                    <span class="fs-10 fw-semibold text-uppercase">{{
                      point.average | number : "1.2-2"
                    }}</span>
                  </div>
                  }
                </div>
              </div>
              <a href="#" class="rounded-btn bg-primary-800"> Discuss</a>
            </div>
          </div>
        </div>
        <div
          class="item-detail_stats-wrapper d-flex align-items-center border-l-dt-white"
        >
          <div class="item-detail_stats d-flex align-items-end gap-1 flex-wrap">
            <div
              class="item-detail_stats-item rounded-lg bg-primary-800 d-flex flex-column align-items-center justify-content-center"
            >
              <div>
                <span>1</span>
                <span>Rank</span>
              </div>
            </div>
            <div
              class="item-detail_stats-item rounded-lg bg-primary-800 d-flex flex-column align-items-center justify-content-center"
            >
              <div>
                <span>{{ steroid.score | number : "1.2-2" }}</span>
                <span>Score</span>
              </div>
            </div>
            <div
              class="item-detail_stats-item rounded-lg bg-primary-800 d-flex flex-column align-items-center justify-content-center"
            >
              <div>
                <span>{{ steroid.reviewCount }}</span>
                <span>Votes</span>
              </div>
            </div>
            <div
              class="item-detail_stats-item rounded-lg bg-primary-800 d-flex flex-column align-items-center justify-content-center"
            >
              <div>
                <span>1</span>
                <span>Reviews</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="workout-images d-flex flex-wrap gap-2">
        <img src="../../../../assets/imgs/workout-img1.png" alt="" />
        <img src="../../../../assets/imgs/workout-img2.png" alt="" />
        <img src="../../../../assets/imgs/workout-img3.png" alt="" />
        <img src="../../../../assets/imgs/workout-img2.png" alt="" />
        <img src="../../../../assets/imgs/workout-img5.png" alt="" />
        <img src="../../../../assets/imgs/workout-img2.png" alt="" />
      </section>

      <app-comments
        [type]="'Review'"
        [reference]="'Steroid'"
        [referenceId]="steroidId"
      ></app-comments>
    </div>
    <aside class="d-flex flex-column gap-3">
      <app-creator-details></app-creator-details>
      <app-recent-reviews
        [type]="'Review'"
        [reference]="'Steroid'"
      ></app-recent-reviews>
      <img src="../../../../asets/imgs/aside-img.png" alt="" />
    </aside>
  </div>
</div>
