<div class="steroid-cycles">
  <div class="banner">
    <p>Steroids Talk</p>
  </div>
  <div class="page-content">
    <div class="navLink">
      <span class="home">Home</span>
      <span class="arrow">></span>
      <span class="nav-text">Steroids Talk</span>
    </div>
    <div class="main">
      <div class="row">
        <div class="col-md-8">
          <div class="toggle-buttons-group">
            <a href="/steroids-review"
              ><button type="button" class="toggle-button">Reviews</button></a
            >
            <button type="button" class="toggle-button toggle-button-active">
              Talk
            </button>
            <a href="/steroid-cycles"
              ><button type="button" class="toggle-button">
                Steroid cycles
              </button></a
            >
          </div>
          <div class="steroid-talks-list">
            <div
              class="steroid-talk-card"
              *ngFor="let talk of talks"
              (click)="goToDetails(talk.talkId)"
            >
              <div class="steroid-talk-card-col">
                <div class="steroid-talk-card-image"></div>
                <div class="steroid-talk-card-heading">{{ talk.heading }}</div>
                <div class="steroid-talk-card-description">
                  ({{ talk.description }})
                </div>
              </div>
              <div class="steroid-talk-card-col">
                <div class="steroid-talk-card-star">
                  <img
                    src="../../../../../assets/images/pages/record-row-star-grey.png"
                    alt=""
                    class="active"
                  />
                  <img
                    src="../../../../../assets/images/pages/record-row-star-gold.png"
                    alt=""
                  />
                  <img
                    src="../../../../../assets/images/pages/record-row-star-gold.png"
                    alt=""
                  />
                  <img
                    src="../../../../../assets/images/pages/record-row-star-gold.png"
                    alt=""
                  />
                  <img
                    src="../../../../../assets/images/pages/record-row-star-gold.png"
                    alt=""
                  />
                </div>
                <div class="steroid-talk-card-kpi-one">{{ talk.username }}</div>
                <div class="steroid-talk-card-kpi-two">5</div>
              </div>
            </div>
            <div class="review-pagination">
              <img
                src="../../../../../assets/images/pages/arrow-left-pagination.png"
                alt=""
              />
              <button type="button" class="pagination-first">1</button>
              <button type="button" class="pagination-second">2</button>
              <button type="button" class="pagination-second">3</button>
              <button type="button" class="pagination-second">...</button>
              <button type="button" class="pagination-second">25</button>
              <img
                src="../../../../../assets/images/pages/arrow-right-pagination.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="steroid-review-filters">
            <div class="steroid-review-filter-name">
              <span class="steroid-review-filter-name-text"
                >Common Name
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9"
                    viewBox="0 0 16 9"
                    fill="none"
                  >
                    <path
                      d="M1 1L8 8L15 1"
                      stroke="#666666"
                      stroke-width="2"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </span>
            </div>
            <div class="steroid-review-filter-name">
              <span class="steroid-review-filter-name-text"
                >Manufacturer
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9"
                    viewBox="0 0 16 9"
                    fill="none"
                  >
                    <path
                      d="M1 1L8 8L15 1"
                      stroke="#666666"
                      stroke-width="2"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </span>
            </div>
            <div class="steroid-review-filter-name">
              <span class="steroid-review-filter-name-text"
                >Sort By
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9"
                    viewBox="0 0 16 9"
                    fill="none"
                  >
                    <path
                      d="M1 1L8 8L15 1"
                      stroke="#666666"
                      stroke-width="2"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </span>
            </div>
            <div class="steroid-review-filter-button">
              <button type="button" class="steroid-review-filter-button-one">
                <span>Reset</span>
              </button>
            </div>
          </div>
          <div class="recent-steroid-reviews">
            <div class="heading">
              <span class="heading-text">RECENT STEROID REVIEWS</span>
            </div>
            <div class="recent-steriod-reviews-card">
              <div class="recent-steroid-reviews-card-content">
                <span class="recent-steroid-reviews-card-content-text">
                  USGear is amazing, I have made 5 orders from them, their
                  prices <span> « Dav3891</span>
                </span>
              </div>
              <div
                class="recent-steroid-reviews-card-kpi"
                style="display: flex"
              >
                <span class="recent-steroid-reviews-card-kpi-text"> </span>
                <button
                  type="button"
                  class="recent-steroid-reviews-card-button"
                >
                  Trenbolone-e 200
                </button>
                <span class="recent-steroid-reviews-card-marker-one">
                  <span class="vector">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="6"
                      viewBox="0 0 12 6"
                      fill="none"
                    >
                      <path
                        d="M1.73633 3.34545L5.27604 5.22181L10.5856 1"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="recent-steroid-reviews-card-marker-two">
                  <span class="text">9/10</span>
                </span>
              </div>
            </div>
            <div class="recent-steriod-reviews-card">
              <div class="recent-steroid-reviews-card-content">
                <span class="recent-steroid-reviews-card-content-text">
                  USGear is amazing, I have made 5 orders from them, their
                  prices <span> « Dav3891</span>
                </span>
              </div>
              <div
                class="recent-steroid-reviews-card-kpi"
                style="display: flex"
              >
                <span class="recent-steroid-reviews-card-kpi-text"> </span>
                <button
                  type="button"
                  class="recent-steroid-reviews-card-button"
                >
                  Trenbolone-e 200
                </button>
                <span class="recent-steroid-reviews-card-marker-one">
                  <span class="vector">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="6"
                      viewBox="0 0 12 6"
                      fill="none"
                    >
                      <path
                        d="M1.73633 3.34545L5.27604 5.22181L10.5856 1"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="recent-steroid-reviews-card-marker-two">
                  <span class="text">9/10</span>
                </span>
              </div>
            </div>
            <div class="recent-steriod-reviews-card">
              <div class="recent-steroid-reviews-card-content">
                <span class="recent-steroid-reviews-card-content-text">
                  USGear is amazing, I have made 5 orders from them, their
                  prices <span> « Dav3891</span>
                </span>
              </div>
              <div
                class="recent-steroid-reviews-card-kpi"
                style="display: flex"
              >
                <span class="recent-steroid-reviews-card-kpi-text"> </span>
                <button
                  type="button"
                  class="recent-steroid-reviews-card-button"
                >
                  Trenbolone-e 200
                </button>
                <span class="recent-steroid-reviews-card-marker-one">
                  <span class="vector">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="12"
                      height="6"
                      viewBox="0 0 12 6"
                      fill="none"
                    >
                      <path
                        d="M1.73633 3.34545L5.27604 5.22181L10.5856 1"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </span>
                <span class="recent-steroid-reviews-card-marker-two">
                  <span class="text">9/10</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
