<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <span class="heading">STEROID</span>
      <ul>
        <li><a routerLink="/steroids-review">Steroids Review</a></li>
        <li><a routerLink="/steroids-talk">Steroids Talk</a></li>
        <!-- <li><a routerLink="/steroid-review-inside">Steroid Review Inside <span>(Complete)</span></a></li> -->
        <li><a routerLink="/steroid-cycles">Cycles</a></li>
        <!-- <li><a routerLink="/steroid-talk-inside">Steroid Talk Inside <span>(Complete)</span></a></li> -->
        <!-- <li><a routerLink="/steroid-source-review">Source Review <span>(Complete)</span></a></li> -->
      </ul>
    </div>
    <div class="col-md-4">
      <span class="heading">SOURCE</span>
      <ul>
        <li>
          <a routerLink="/source-review">Source Review</a>
        </li>
        <li>
          <a routerLink="/source-talk">Source Talk</a>
        </li>
        <!-- <li>
          <a routerLink="/source-talk-inside/1"
            >Source Talk Inside <span>(Complete)</span></a
          >
        </li> -->
        <!-- <li>
          <a routerLink="/source-review-inside"
            >Source Review Inside <span>(Complete)</span></a
          >
        </li> -->
      </ul>
      <!-- <span class="heading">COMMUNITY FORUMS</span>
      <ul>
        <li>
          <a routerLink="/community-forums"
            >Community <span>(Complete)</span></a
          >
        </li>
      </ul> -->
    </div>
    <div class="col-md-4">
      <span class="heading">COMMUNITY</span>
      <ul>
        <li>
          <a routerLink="/groups">Groups</a>
        </li>
        <li>
          <a routerLink="/news-list">News</a>
        </li>
        <li>
          <a routerLink="/community-pics-gallery">Pictures</a>
        </li>
        <li>
          <a routerLink="/forums-topic-list">Forums</a>
        </li>
      </ul>
      <!-- <span class="heading">GROUPS</span>
      <ul>
        <li>
          <a routerLink="/groups">Groups <span>(Complete)</span></a>
        </li>
        <li>
          <a routerLink="/group-details"
            >Combat Sports Groups <span>(Complete)</span></a
          >
        </li>
      </ul>
      <span class="heading">NEWS</span>
      <ul>
        <li>
          <a routerLink="/news-list">News List <span>(Complete)</span></a>
        </li>
        <li>
          <a routerLink="/news-details">News Details <span>(Complete)</span></a>
        </li>
      </ul>
      <span class="heading">COMMUNITY PICS</span>
      <ul>
        <li>
          <a routerLink="/community-pics-gallery"
            >Community Pics <span>(Complete)</span></a
          >
        </li>
        <li>
          <a routerLink="/pics-inside">Pics Inside <span>(Complete)</span></a>
        </li>
      </ul> -->
    </div>
    <div class="col-md-3">
      <!-- <span class="heading">USER AUTHENTICATION</span>
      <ul>
        <li>
          <a routerLink="/create-account">Register <span>(Complete)</span></a>
        </li>
        <li>
          <a routerLink="/sign-in">Login <span>(Complete)</span></a>
        </li>
        <li>
          <a routerLink="/forgot-password"
            >Forgot Password <span>(Complete)</span></a
          >
        </li>
        <li>
          <a routerLink="/reset-password"
            >Reset Password <span>(Complete)</span></a
          >
        </li>
      </ul>
      <span class="heading">FORUMS</span>
      <ul>
        <li>
          <a routerLink="/forums-topic-list"
            >Forums Topic List <span>(Complete)</span></a
          >
        </li>
        <li>
          <a routerLink="/forums-details"
            >Forums Topic Details <span>(Complete)</span></a
          >
        </li>
      </ul> -->
    </div>
  </div>
</div>
