<div class="main-wrapper mx-auto mt-3">
  <div
    class="main-section source-talk mt-3 d-flex justify-content-between"
  >
    <div class="w-100">
      <div class="d-flex gap-2">
        <a routerLink="/steroids/review" class="rounded-sm-btn fs-7 fw-bold"
          >Reviews</a
        >
        <a routerLink="/steroids/talk" class="rounded-sm-btn fs-7 fw-bold"
          >Talk</a
        >
        <a
        routerLink="/steroids/cycles"
          class="rounded-sm-btn fs-7 fw-bold bg-black text-white"
          >Steroid cycles</a
        >
      </div>
      <div class="list-container mt-5">
        <div class="list-body cycles-list d-flex flex-column gap-1 mt-2">
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más o menos normal de las letras, al
                  contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más o menos normal de las letras, al
                  contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más o menos normal de las letras, al
                  contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más o menos normal de las letras, al
                  contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más o menos normal de las letras, al
                  contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="list-item steroid-cycle-item bg-bg3 rounded-xl d-flex justify-content-between"
          >
            <div class="list-item_content flex">
              <div class="steroid-cycle_content_images flex">
                <img src="../../../../assets/imgs/steroids-cycles-img1.png" alt="" />
                <img src="../../../../assets/imgs/steroids-cycles-img2.png" alt="" />
              </div>

              <div class="steroid-cycle_content_text flex flex-wrap">
                <p class="fw-bold text-uppercase m-0">
                  Competition Prep Cycle Competition Prep Cycle
                  Competition Prep Cycle
                </p>
                <span class="m-0 fs-9-5"
                  >El punto de usar Lorem Ipsum es que tiene una
                  distribución más más o menos normal de las letras, al
                  contrario de usar textos como po o menos normal de las
                  letras, al contrario de usar textos como po.</span
                >
              </div>
            </div>

            <div class="list-item_points d-flex flex-wrap">
              <span class="cycle-author-date"
                ><span class="fw-bold">Osgear </span> | Sep, 2014</span
              >
              <div class="flex gap-1">
                <span
                  class="bg-bg4 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >lundgren
                </span>
                <span
                  class="bg-primary-800 rounded-xl p-1 px-2 fs-9-5 fw-semibold"
                  >99.41</span
                >
              </div>
            </div>
          </a>
        </div>
        <app-pagination></app-pagination>
      </div>
    </div>
    <aside class="d-flex flex-column gap-3">
      <app-search-filter></app-search-filter>
      <app-recent-reviews [type]="'Review'" [reference]="'Steroid'"></app-recent-reviews>
    </aside>
  </div>
</div>