<div class="aside-card bg-bg6 rounded-lg">
  <h4 class="">NEW SUMBISSIONS</h4>
  <div class="d-flex flex-column gap-1">
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">Noreplay</span>
        <span>></span>
        <span>almightypeptides.com</span>
      </p>
    </a>
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">PRO SUPPS</span>
        <span>></span>
        <span>pro-supps.com</span>
      </p>
    </a>
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">PRO</span>
        <span>></span>
        <span> balkanpharm.com</span>
      </p>
    </a>
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">PROdex</span>
        <span>></span>
        <span>britishroids.com</span>
      </p>
    </a>
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">PROXIS</span>
        <span>></span>
        <span>roid-stop.is</span>
      </p>
    </a>
    <a href="#" class="aside-card_subcard bg-bg7 rounded-lg">
      <p class="fs-9-5 fw-medium m-0">
        <span class="fw-bold">PRO</span>
        <span>></span>
        <span> balkanpharm.com</span>
      </p>
    </a>
  </div>
</div>