<footer class="footer">
  <div class="footer-container">
  <div class="footer-col">
  <div>
  <h5 class="footer-col_heading">Steroid</h5>
  <a routerLink="/steroids/talk">Steroids Talk*</a>
  <a routerLink="/steroids/cycles">Cycles */</a>
  <a routerLink="/steroids/review">Steroids Review *</a>
  </div>
  </div>
  <div class="footer-col">
  <div>
  <h5 class="footer-col_heading">Source</h5>
  <a routerLink="/sources/talk">Source Talk *</a>
  <a routerLink="/sources/review">Source Review *</a>
  </div>
  <div>
  <h5 class="footer-col_heading">Community Forums</h5>
  <a routerLink="/community/forums">Community */</a>
  </div>
  </div>
  <div class="footer-col">
  <div>
  <h5 class="footer-col_heading">Groups</h5>
  <a routerLink="/groups">Groups */</a>
  <a href="#">Combat Sports Groups (Group detail) */-</a>
  </div>
  <div>
  <h5 class="footer-col_heading">News</h5>
  <a routerLink="/news">News List -</a>
  <a routerLink="/news/detail">News Details (no needed) -</a>
  </div>
  <div>
  <h5 class="footer-col_heading">Community Pics</h5>
  <a routerLink="/community/pics">Community Pics -</a>
  <a routerLink="/community/pics">Pics Inside - (no need)</a>
  </div>
  </div>
  <div class="footer-col">
  <div>
  <h5 class="footer-col_heading">User Authentication</h5>
  <a routerLink="/auth/register">Register *</a>
  <a routerLink="/auth/login">Login *</a>
  <a routerLink="/auth/forgot-password">Forgot Password */</a>
  <a routerLink="/auth/reset-password/:bc441a4">Reset Password */</a>
  </div>
  <div>
  <h5 class="footer-col_heading">Forums</h5>
  <a href="#">Forums Topic List */</a>
  <a href="#">Forums Topic Details */</a>
  </div>
  </div>
  </div>
  </footer>