<div class="header">
    <div class="topmenu" style="width: 300px;margin-left: 200px;">
        <ul class="topmenu-nav-element">                                                                                       
          <li><a href="#">Source</a></li>
          <li><a href="#">Stroids</a></li>
          <li><div><a href="#">Community</a></div></li>
        </ul>
    </div>
    <div>
        <input type="text" name="search" id="searchID" placeholder="Search">
    </div>
    <div style="margin-left: 500px;">
        <img src="../../../../../assets/images/header/Outlined.png" alt="favourite" style="vertical-align:baseline;">
        <button class="button-one">Sign in</button>
        <button class="button-two">Login</button>
    </div>
</div>



