.create-account-page{
    display: flex;
}
.register-image{
    width: 871px;
    height: 982px;
    flex-shrink: 0;
    background: linear-gradient(0deg, #F5C527 0%, #F5C527 100%), url(../../../../../assets/images/pages/authentication/reset-password.png), lightgray 50% / cover no-repeat;
    background-blend-mode: color, normal;
}
.register-content{
    padding: 20px;
    width: 100%;
}
.button-container{
    /* display: flex;
    justify-content: center; */
    margin-top: 20px;
}
.create-new-account-button{
    display: flex;
    width: 404px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--background-1, #191A1B);
    margin-left: 110px;
}
.create-new-account-button span{
    color: var(--additional-white, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.2px;
}
.input-email-icon{
    width: 18px;
    height: 14px;
    flex-shrink: 0;
    position: relative;
    top: -5px;
}
input{
    /* background-color: #000; */
    border: none;
    outline: none;
    /* color: white; */
}
.forgot-password-heading{
    align-self: stretch;
    color: var(--greyscale-900, #0F172A);
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 30px */
    letter-spacing: 0.2px;
    display: flex;
    /* justify-content: center; */
    margin-top: 200px;
    margin-left: 110px;
}
.forgot-password-description{
    align-self: stretch;
    color: var(--greyscale-500, #64748B);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    margin-left: 110px;
    margin-right: 100px;
    display: flex;
    margin-bottom: 10px;
}
.forgot-password-input{
    display: flex;
    width: 404px;
    height: 56px;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--background-1, #191A1B);
    margin-left: 110px;
}
.back-to-signin{
    display: flex;
    justify-content: center;
    color: var(--background-1, #191A1B);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 22.4px */
    margin-top: 30px;
}
.back-to-signup{
    display: flex;
    justify-content: center;
    color: var(--greyscale-900, #0F172A);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    margin-top: 100px;
}
.back-to-signup span{
    color: var(--background-1, #191A1B);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-left: 5px;
}
