<div class="create-account-page">
    <div class="register-image">

    </div>
    <div class="register-content">
        <span class="forgot-password-heading">
            Reset your password
        </span><br>
        <span class="forgot-password-description">
            Enter the email address associated with your account and we will send you a link to reset your password.
        </span>
        <div class="forgot-password-input">
            <span class="input-email-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none">
                    <path d="M17 1H3C1.89543 1 1 1.89543 1 3V13C1 14.1046 1.89543 15 3 15H17C18.1046 15 19 14.1046 19 13V3C19 1.89543 18.1046 1 17 1Z" stroke="#64748B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 3L10 9L19 3" stroke="#64748B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <input type="text" name="" id="" placeholder="Angela.lau">
        </div>
        <div class="button-container">
            <button type="button" class="create-new-account-button"><span>Continue</span></button>
        </div>
        <span class="back-to-signin">
            Back to Sign In
        </span><br>
        <span class="back-to-signup">
            Don’t have an account? <span> Sign Up</span>
        </span>
    </div>
</div>

