<section>
    <div class="steroids-talk">
        <div class="banner">
            <p>STEROIDS TALK</p>
            <!-- <span>Steroids Talk</span> -->
            <!-- <img src="../../../../../assets/images/pages/steroids-talk.png" alt=""> -->
        </div>
        <div class="container-fluid page-content">
            <div class="breadcrumbs" style="margin-bottom: 10px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Steroid Source Reviews</a></li>
                      <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
                    </ol>
                </nav>
            </div>
            <div class="main">
                <div class="row">
                    <div class="col-md-8">
                        <div style="margin-bottom: 20px;">
                            <button type="button " class="btn btn-outline-dark top-buttons" style="background-color: black;color: white;">Reviews</button>
                            <button type="button" class="btn btn-outline-dark top-buttons">Talk</button>
                            <button type="button" class="btn btn-outline-dark top-buttons">Steroid cycles</button>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                        <div class="record-row">
                            <img src="../../../../../assets/images/pages/record-row-img.png" alt="">
                            <span class="heading">Testoprop 100</span>
                            <span class="subheading">(Test Propionate by Pharmaqo)</span>
                            <div class="record-row-star">
                                <img src="../../../../../assets/images/pages/record-row-star-grey.png" alt="" class="active">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                                <img src="../../../../../assets/images/pages/record-row-star-gold.png" alt="">
                            </div>
                            
                            <span style="background-color: #C4C4C4;color: black;" class="score">71.752</span>
                            <span style="background-color: #F5C527;color: black;" class="rating">5</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-one">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown link
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown link
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown link
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <button type="button " class="btn btn-outline-dark top-buttons" style="background-color: black;color: #F5C527;">RESET</button>
                        </div>
                        <div class="card-two">
                            <h2>RESENT STROID REVIEWS</h2>
                            <div class="card-two-row">
                                <span>
                                    USGear is amazing, I have made 5 orders from them, their prices « Dav3891
                                </span>
                                <div style="display: flex;">
                                    <div>
                                        <button type="button " class="btn btn-outline-dark top-buttons" style="background-color: black;color: #F5C527;">RESET</button>
                                    </div>
                                    <div style="display: flex;margin-left: 180px;">
                                        <div style="width: 20px;background-color: #4BED7D;height: 20px;border-radius: 8px;text-align: center;">
                                            <img src="../../../../../assets/images/pages/card-two-correct-tick.png" alt="">
                                        </div>
                                        <div style="width: 50px;background-color: #F5C527;">
                                            <img src="../../../../../assets/images/pages/card-two-text.png" alt="">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
