<div class="main-wrapper mx-auto mt-3">
  <div
    class="main-section source-talk mt-3 d-flex justify-content-between"
  >
    <section class="groups">
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between. sport related.
          From Boxing to MMA to grappling and anything.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK123456789</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS COMBAT COMBAT COMBAT</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
      <div class="group-item bg-pink rounded-lg">
        <a href="#" class="bg-bg5 rounded-xl head-tag"
          >Request group membership</a
        >
        <h4>COMBAT SPORTS</h4>
        <p>
          Group for anything combat sport related. From Boxing to MMA to
          grappling and anything and everything in between.
        </p>
        <span class="group-item_author"
          ><span class="fw-bold">Author:</span> ONESICK</span
        >
        <span class="bg-primary-800 rounded-xl head-tag">Public</span>
      </div>
    </section>
    <aside class="groups-aside d-flex flex-column gap-3">
      <section class="my-groups">
        <p>My Groups</p>
        <a href="#">Advanced cycles v2.0</a>
        <a href="#">Aussies and kiwis lounge</a>
        <a href="#">The Recovery Lounge Group</a>
      </section>
    </aside>
  </div>
</div>