<main class="auth-container reset-password d-flex">
  <div class="left d-flex align-items-end justify-content-center pb-5">
    <a href="#" class="mb-5">
      <img src="images/icon-home-yellowbg.svg" alt="" />
    </a>
  </div>
  <div class="position-relative right mx-auto d-flex flex-column align-items-start justify-content-center">
    <div class="d-flex flex-column">
      <h3 class="fw-bold">Reset your password</h3>
      <p class="fw-semibold fs-7 text-secondary">
        Enter the email address associated with your account and we will
        send you a link to reset your password.
      </p>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="w-100 px-12 d-flex flex-column gap-3 mt-3">
      <div class="input-item w-100">
        <label for="newPassword">
          <img src="images/icon-lock.svg" alt="" />
          <input formControlName="newPassword" class="mx-2" type="password" placeholder="New Password"
            id="newPassword" />
        </label>
      </div>
      <div class="input-item w-100">
        <label for="confirmPassword">
          <img src="images/icon-lock.svg" alt="" />
          <input formControlName="confirmPassword" class="mx-2" type="password" placeholder="Confirm Password"
            id="confirmPassword" />
        </label>
      </div>
      <button type="submit" class="bg-black text-white mt-3">
        Reset Password
      </button>
      <div class="d-flex justify-content-center mt-2">
        <a routerLink="/auth/login" class="form-link text-align-center">Back to Sign In</a>
      </div>
    </form>
    <div style="left: 50%; bottom: 10%; transform: translateX(-50%);" class="position-absolute">
      <p>
        Don’t have an account?
        <a routerLink="/auth/register" class="form-link text-align-center">Sign Up</a>
      </p>
    </div>
  </div>
</main>