<!-- <div class="list-pagination mt-3 d-flex gap-2 align-items-center justify-content-center">
  <img class="cursor-pointer" src="../../../../assets/icons/icon-chevron-left.svg" alt="" />
  <span class="cursor-pointer p-1 d-flex align-items-center justify-content-center active">1</span>
  <span class="cursor-pointer p-1 d-flex align-items-center justify-content-center">2</span>
  <span class="cursor-pointer p-1 d-flex align-items-center justify-content-center">3</span>
  <span class="cursor-pointer p-1 d-flex align-items-center justify-content-center">...</span>
  <span class="cursor-pointer p-1 d-flex align-items-center justify-content-center">24</span>
  <img class="cursor-pointer" src="../../../../assets/icons/icon-chevron-right.svg" alt="" />
</div> -->