/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt.ttf");
}

@font-face {
  font-family: Open Sans;
  src: url("./assets/fonts/OpenSans/OpenSans-VariableFont_wdth.ttf");
}

body {
  margin: 0px;
}

.row {
  --bs-gutter-x: 0;
}

.toggle-buttons-group {
  display: flex;
  gap: 17px;
  margin-top: 13px;
}

.toggle-button {
  border-radius: 36px;
  border: 1px solid #666;
  padding: 4px 12px;
  min-width: 87px;
  height: 32px;
  color: #666;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: transparent;
}

.toggle-button-active {
  background-color: #000;
  color: #fff;
}

/* Pagination Starts */

.review-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.review-pagination img {
  width: 24px;
  height: 24px;
}
.review-pagination .pagination-first {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #000;
  color: white;
}
.review-pagination .pagination-second {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--grays-black-100, #222e42);
  background: var(--White, #fff);
}

/* Pagination Ends */

/* Recent Steriod reviews starts */
.recent-steroid-reviews {
  width: 326px;
  height: 339px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.41);
  padding: 0px 20px;
}
.recent-steroid-reviews .heading .heading-text {
  width: 360px;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 333.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.recent-steriod-reviews-card {
  width: 290.532px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e2e2e2;
  margin-bottom: 10px;
}
.recent-steroid-reviews-card-content-text {
  width: 247.78px;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 120% */
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.recent-steroid-reviews-card-content-text span {
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: capitalize;
}
.recent-steriod-reviews-card {
  padding: 0px 10px;
}
.recent-steroid-reviews-card-button {
  display: flex;
  min-width: 80.75px;
  height: 17px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #000;
  color: var(--primary-800, #f5c527);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 300% */
  letter-spacing: -0.8px;
}
.recent-steroid-reviews-card-marker-one {
  display: flex;
  width: 22.071px;
  height: 18.909px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #4bed7d;
  /* margin-left: 130px; */
}
.recent-steroid-reviews-card-marker-one .vector {
  width: 8.849px;
  height: 4.222px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: #000;
  position: relative;
  top: -12px;
}
.recent-steroid-reviews-card-marker-two {
  display: flex;
  width: 21.017px;
  height: 19px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--primary-800, #f5c527);
}
.recent-steroid-reviews-card-marker-two .text {
  color: var(--background-1, #191a1b);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 300% */
  letter-spacing: -0.8px;
}

/* Recent Steriod reviews Ends */

/* Promo Image Starts */

.promo-image {
  width: 326px;
  height: 339px;
  flex-shrink: 0;
  margin-top: 20px;
  border-radius: 10px;
  background: url(assets/images/pages/promo-image-01.png),
    lightgray 50% / cover no-repeat;
}

/* Promo Image Ends */

/* Top common Starts */
.banner {
  /* width: 1512px; */
  height: 115px;
  flex-shrink: 0;
  background: #f5c527;
}
.banner p {
  color: var(--background-1, #191a1b);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 102.857% */
  text-transform: uppercase;
  position: relative;
  top: 40px;
}
.page-content {
  /* margin: 0px 150px; */
  padding: 0px 100px;
}
.navLink .home {
  color: var(--background-1, #191a1b);
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 257.143% */
  /* text-decoration-line: underline; */
  text-transform: capitalize;
  margin-left: 5px;
  text-decoration: none;
}
.navLink .home:hover {
  color: #f1db90;
}
.navLink .arrow {
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.navLink .routable-text {
  color: var(--background-1, #191a1b);
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 257.143% */
  /* text-decoration-line: underline; */
  text-transform: capitalize;
  margin-left: 5px;
  text-decoration: none;
}
.navLink .routable-text:hover {
  color: #f5c527;
  cursor: pointer;
}
.navLink .nav-text {
  color: var(--primary-800, #f5c527);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  text-transform: capitalize;
  margin-left: 5px;
}
/* Top common Ends */

/* Review Box Starts */

.review-box {
  max-width: 808px;
  /* height: 455px; */
  flex-shrink: 0;
  border-radius: 15px;
  background: #eee;
  margin-top: 20px;
  padding: 20px;
}
.review-heading {
  display: flex;
  margin-bottom: 20px;
}
.review-heading-text {
  width: 246px;
  height: 36px;
  flex-shrink: 0;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}
.review-button {
  display: flex;
  /* width: 122px; */
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  background: var(--background-1, #191a1b);
  color: white;
  margin-left: 5px;
  /* position: relative;
    left: 350px; */
}
.review-author-text {
  flex-shrink: 0;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}
.review-content-text {
  width: 768px;
  height: 55px;
  flex-shrink: 0;
  color: #000;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.24px;
  text-transform: capitalize;
}

/* Review Box Ends */

/* Photo Gallery Starts */

.photo-gallery {
  max-width: 808px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.photo-gallery .photo-one {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-01.png),
    lightgray 50% / cover no-repeat;
}
.photo-gallery .photo-two {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-02.png),
    lightgray 50% / cover no-repeat;
}
.photo-gallery .photo-three {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-03.png),
    lightgray 50% / cover no-repeat;
}
.photo-gallery .photo-four {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-04.png),
    lightgray 50% / cover no-repeat;
}
.photo-gallery .photo-five {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-05.png),
    lightgray 50% / cover no-repeat;
}
.photo-gallery .photo-six {
  width: 120px;
  height: 92px;
  flex-shrink: 0;
  background: url(assets/images/pages/photo-gallery-06.png),
    lightgray 50% / cover no-repeat;
}

/* Photo Gallery Ends */

/* Author Detail Cards Starts */

.steroid-source-review-card-three {
  width: 326px;
  height: 237px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.41);
  margin-top: 20px;
  padding: 17px;
  margin-bottom: 20px;
}
.steroid-source-review-card-three .author-detail-card {
  width: 291px;
  height: 49px;
  flex-shrink: 0;
  background-color: #e2e2e2;
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
}
.author-detail-card-image {
  width: 30px;
  height: 34px;
  flex-shrink: 0;
  background: url(assets/images/pages/author-image-01.png),
    lightgray 50% / cover no-repeat;
}
.author-detail {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.author-detail span {
  width: 247.78px;
  color: var(--background-1, #191a1b);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 27px;  225% */
  text-transform: capitalize;
}
.author-detail-kpi {
  display: flex;
}
.author-detail-kpi .kpi-one {
  display: flex;
  width: 36px;
  height: 14px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--primary-800, #f5c527);
}
.author-detail-kpi .kpi-one span {
  color: var(--background-1, #191a1b);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 300% */
  letter-spacing: -0.8px;
}
.author-detail-kpi .kpi-two {
  display: flex;
  width: 28px;
  height: 14px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--background-3, #555);
  margin-left: 5px;
}
.author-detail-kpi .kpi-two span {
  color: var(--text-primary, #fff);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 300% */
  letter-spacing: -0.8px;
}
.steroid-source-review-card-three .author-post-card {
  width: 291px;
  height: 133px;
  flex-shrink: 0;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.author-post-card-heading {
  width: 247.78px;
  color: var(--background-1, #191a1b);
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 225% */
  text-transform: capitalize;
}
.author-post-card-divider {
  width: 266px;
  height: 1px;
  background: #666;
  display: flex;
  margin-bottom: 5px;
}
.author-post-card-divider-svg {
  position: relative;
  top: -12px;
  height: 8px;
}
.author-post {
  width: 247.78px;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 120% */
  text-transform: capitalize;
  margin: 5px 0px;
}

/* Author Detail Cards Ends */

.mdc-tab {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
