<div class="main-wrapper mx-auto mt-3">
  <div class="main-section mt-3 d-flex justify-content-between">
    <div class="source-review-inside w-100 flex flex-column">
      <section class="item-detail flex gap-3 bg-bg3 rounded-xl p-3">
        <div class="item-detail_content-wrapper flex gap-3">
          <div class="item-detail_content">
            <h4 class="fs-5 fw-bold">{{ sourceReview.url }}</h4>
            <div class="item-detail_content-text">
              <h5>{{ sourceReview.htmlTitle }}</h5>
              <div [innerHTML]="safeHtmlDescription"></div>
            </div>
          </div>
        </div>
      </section>
      <app-comments [type]="'Comment'" [reference]="'Steroid'" [referenceId]="sourceId"></app-comments>

    </div>
    <aside class="d-flex flex-column gap-3">
      <div class="aside-card bg-bg6 rounded-lg d-flex flex-column gap-2">
        <div class="aside-card_subcard bg-bg7 rounded-lg px-5">
          <p class="fs-9 fw-bold p-0 m-0 line-h-sm">ONESICK</p>
          <span class="aside-tags bg-primary-800 rounded-xl fs-10 fw-bold">3,333</span>
        </div>
        <div class="aside-card_subcard aside-card_subcard_split bg-bg7 rounded-lg">
          <p class="fs-9 fw-bold p-0 m-0 line-h-sm">More by ONESICK</p>
          <span class="fs-9-5">How do you break your Hand with a DB??</span>
        </div>
      </div>
      <app-recent-reviews [type]="'Review'" [reference]="'Source'"></app-recent-reviews>
      <img src="../../../../assets/imgs/aside-img-sm.png" alt="" />
    </aside>
  </div>
</div>