.source-talk-card-box {
  margin-top: 30px;
}
.source-talk-card {
  width: 808px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #eee8d3;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.source-talk-card:hover {
  background: #e6ddc1;
  cursor: pointer;
}
.source-talk-card-title {
  width: 200px;
  height: 7.648px;
  flex-shrink: 0;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.source-talk-card-description {
  display: flex;
  width: 140px;
  margin: 0px 100px 0px 50px;
}
.source-talk-card-description .one {
  /* width: 37px; */
  height: 5.809px;
  flex-shrink: 0;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-right: 10px;
}
.source-talk-card-description .two {
  width: 96px;
  height: 5.809px;
  flex-shrink: 0;
  color: var(--background-1, #191a1b);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  text-transform: capitalize;
}
.divider-one {
  width: 22.5px;
  height: 0px;
  /* transform: rotate(90deg); */
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #847d67;
  position: relative;
  top: -4px;
}
.source-talk-card .kpi-one {
  display: flex;
  /* width: 109px; */
  height: 18px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #c4c4c4;
}
.source-talk-card .kpi-one span {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 240% */
  letter-spacing: 1px;
}
.source-talk-card .kpi-two {
  display: flex;
  width: 50px;
  height: 17.541px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--primary-800, #f5c527);
  margin-left: 10px;
}
.source-talk-card .kpi-two span {
  color: var(--background-1, #191a1b);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 240% */
  letter-spacing: 1px;
}
